.imgBtn {
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-content-display: graphic-only; 
}

.farm-tile {
    -fx-min-width: 75px;
    -fx-min-height: 75px;
}

.unplowed-tile {
    -fx-background-image: url("../assets/farm/default-tile.png");
}

.plowed-tile {
    -fx-background-image: url("../assets/farm/plowed-tile.png")
}

.rock-tile {
    -fx-background-image: url("../assets/environment/rock.png");

}

.farmer-icon {
    -fx-background-image: url("../assets/farmers/default-farmer.png");
    -fx-min-width: 100px;
    -fx-min-height: 100px;
}

.farmerInformation {
    -fx-fill: red;
    -fx-margin: 10px 10px;
}

.popUp {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

.marketNames {

}

.exit {
    -fx-background-radius: 70px;
}

.marketBtn {
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
}

.toolBtn {
    -fx-min-width: 75px;
    -fx-min-height: 75px;
}

#openMarketBtn {
    -fx-background-image:  url("../assets/miscellaneous/market.png");
    -fx-min-width: 75px;
    -fx-min-height: 75px;
    -fx-background-size: 85% 85%;
    -fx-background-position: center;
}

#marketCarrotBtn {
    -fx-background-image: url("../assets/crops/carrot.jpg");
}

#marketAppleBtn {
    -fx-background-image: url("../assets/crops/apple.jpg");
}

#marketMangoBtn {
    -fx-background-image: url("../assets/crops/mango.jpg");
}

#marketPotatoBtn {
    -fx-background-image: url("../assets/crops/potato.jpg");
}

#marketTurnipBtn {
    -fx-background-image: url("../assets/crops/turnip.jpg");
}

#ploughBtn {
    -fx-background-image: url("../assets/tools/plough.jpg");
}

#shovelBtn {
    -fx-background-image: url("../assets/tools/shovel.jpg");
}

#pickaxeBtn {
    -fx-background-image: url("../assets/tools/pickaxe.jpg");
}

#fertilizerBtn {
    -fx-background-image: url("../assets/tools/fertilizer.jpg");
}

#wateringCanBtn {
    -fx-background-image: url("../assets/tools/watering-can.jpg");
}

#harvestBtn {
    -fx-background-image: url("../assets/tools/harvest.jpg");
}